@using IdentityServer4.EntityFramework.Entities
@model IEnumerable<Client>

<div>
    <table>
        <thead>
            <tr>
                <td>标识</td>
                <td>客户端ID</td>
                <td>客户端名称</td>
                <td>客户端机密</td>
                <td>客户端URL</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(item?.Id)</td>
                    <td>@(item?.ClientId)</td>
                    <td>@(item?.ClientName)</td>
                    <td>@(item?.ClientSecrets)</td>
                    <td>@(item?.ClientUri)</td>
                    <td>@(string.Join(",", item?.AllowedCorsOrigins!))</td>
                    <td>@(string.Join(",",item?.AllowedGrantTypes!))</td>
                </tr>
            }
        </tbody>
    </table>
</div>